body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
.header{
  width: 100%;
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header img {
  width: 15%;
  height: auto;
  position: absolute;
  left: 20px;
}
.header p {
  font-size: 14px;
  margin: 5px 0;
}

.header .header-content{
    margin-left: 15%;
}

.sidebar {
  background-color: #2c3e50;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 20px 0;
  transition: color 0.3s;
}
.sidebar a:hover,
.sidebar a.active {
  color: #e74c3c;
}
.sidebar .social-icons {
  margin-top: auto;
  margin-bottom: 20px;
}

.sidebar .social-icons a:hover {
  color: #e74c3c;
}
.main-content {
  background-color: #bdc3c7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-align: center;
  padding: 20px;
}
.main-content h1 {
  font-size: 48px;
  margin: 0;
}
.main-content p {
  font-size: 18px;
  margin: 10px 0 20px;
}
.main-content img {
  border-radius: 15%;
}

.biografi-content{
    text-align: left;
    margin: 0  50px;
}
footer {
    width: 100%;
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    font-size: 14px;
    display: flex;
    position: relative;
}

footer .social-icons a{
    color: white;
    margin: 0 10px;
    font-size: 18px;
    transition: color 0.3s;
}

footer .social-icons a:hover{
    color: #e74c3c;
}

footer .social-icons{
    position: absolute;
    left: 40px;
}

footer .footer-content{
    margin-left: 20%;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    padding: 20px 0;
    order: 2;
  }
  .main-content {
    order: 1;
  }
  .main-content h1 {
    font-size: 36px;
  }
  .main-content p {
    font-size: 16px;
  }
}

@media (min-width: 769px) {
  .sidebar {
    order: 1;
  }
  .main-content {
    order: 2;
  }
}

@media (max-width: 480px) {
  .main-content h1 {
    font-size: 28px;
  }
  .main-content p {
    font-size: 14px;
  }
}
